.article {
  max-width: 700px;
  padding: 0 10px;
  margin: 0 auto;
  padding-bottom: 30px;
  // .article__title
  &__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 50 / 34 * 100%;
    margin-bottom: 30px;
    @media (max-width: $md3+px) {
      font-size: 30px;
    }
  }

  // .article__info

  &__info {
    display: flex;
  }

  // .article__year

  &__year {
    background-color: $hoverColor;
    color: $white;
    height: 25px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  // .article__category

  &__category {
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 23px;
    align-self: center;
    line-height: 25 / 20 * 100%;
    @media (max-width: $md3+px) {
      font-size: 18px;
    }
  }

  // .article__text

  &__text {
    p{
      @extend .text;
      margin-bottom: 20px;
    }
    img{
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  // .article__image

  &__image {
  }
}
