.blog {
  padding-bottom: 50px;
  @media (max-width: $md3+px) {
    margin-bottom: 30px;
  }
  &__title{
    margin-bottom: 50px;
    @media (max-width: $md3+px) {
      margin-bottom: 20px;
    }
  }
  // .blog__article-name
  &__article-name {
    font-size: 30px;
    font-weight: 500;
    display: inline-block;
    line-height: 44 / 30 * 100%;
    color: inherit;
    transition: color .3s ease 0s;
    margin-bottom: 10px;
    @media (min-width: $md2+px) {
      &:hover {
        color: $hoverColor;
      }
    }
    @media (max-width: $md3+px) {
      font-size: 26px;
    }
  }

  // .blog__items

  &__items {
  }

  // .blog__item

  &__item {
    border-bottom: $line;
    padding-bottom: 30px;
    margin-bottom: 30px;
    &:last-child {
      margin: 0px;
    }
    @media (max-width: $md3+px) {
      margin-bottom: 25px;
      padding-bottom: 25px;
    }
  }

  // .blog__info

  &__info {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    @media (max-width: $md3+px) {
      font-size: 16px;
    }
  }

  // .blog__date

  &__date {
  }

  // .blog__separator

  &__separator {
    margin: 0px 20px;
  }

  // .blog__category

  &__category {
    color: $grayColor;
  }

  // .blog__text

  &__text {
  }
}
