.works {
  // .works__main
  padding-bottom: 60px;
  @media (max-width: $md3+px) {
    padding-bottom: 30px;
  }
  // .works__main-title
  &__main-title {
    margin-bottom: 45px;
    @media (max-width:$md3+px) {
      margin-bottom: 20px;
    }
  }
}
