// ====================================
.hello {
  padding-top: 38px;
  padding-bottom: 70px;
  @media (max-width: $md1+px) {
    padding-top: 0;
  }
  @media (max-width: $md3+px) {
    padding-bottom: 60px;
  }
  // .hello__container
  &__container {
    display: flex;
    align-items: center;
    @media (max-width: $md3+px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }
  // .hello__content
  &__content {
    align-items: flex-start;
    padding: 18px 110px 0px 0px;
    flex: 1 1 auto;
    *:last-child {
      margin-bottom: 0;
    }
    @media (max-width: $md1+px) {
      padding: 18px 50px 0px 0px;
    }
    @media (max-width: $md3+px) {
      padding: 0px 0px 0px 0px;
    }
  }
  // .hello__title
  &__title {
    margin-bottom: 25px;
    @media (max-width: $md3+px) {
      margin-bottom: 20px;
    }
  }
  // .hello__text
  &__text {
    margin-bottom: 35px;
    @media (max-width: $md3+px) {
      margin-bottom: 25px;
      padding: 0px 15px;
    }
  }
  // .hello__btn
  &__btn {
    margin-bottom: 35px;
    @media (max-width: $md3+px) {
      margin-bottom: 20px;
    }
  }
  // .hello__avatar
  &__avatar {
    flex: 0 0 243px;
    height: 243px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -5px 13px 0px 0px #EDF6FA;
    img{
      max-width: 100%;
    }
    @media (max-width: $md3+px) {
      flex: 0;
      width: 170px;
      height: 170px;
      margin-bottom: 40px;
    }
  }
}
// ====================================