.recent-posts {
  background: $sectionBlue;
  padding: 25px 0px 13px 0px;
  @media (max-width: $md3+px){
   padding-bottom: 23px;
  }
  // .recent-posts__container
  &__container {
  }
  // .recent-posts__header
  &__header {
    display: flex;
    margin-bottom: 20px;
  }
  // .recent-posts__title
  &__title {
    padding: 0px 20px 0px 0px;
    flex: 1 1 auto;
  }
  // .recent-posts__view-all
  &__view-all {
    // white-space: nowrap;
    flex: 0 0 auto; //заборона зменшення обєкта
    font-size: 16px;
    line-height: 23px;
    color: $textColorBlue;
    @media (max-width: $md3+px){
      display: none;
    }
  }
  // .recent-posts__items
  &__items {
    margin: 0px -10px;
    @media (min-width: $md3+px){
      display: flex;
    }
  }
  // .recent-posts__column
  &__column {
    flex: 0 1 50%;
    padding: 0px 10px;
    margin-bottom: 17px;
  }
  // .recent-posts__item
  &__item {
  }
}
.recent-post {
  height: 100%;
  background-color: $white;
  box-shadow: 0px 4px 10px rgba(187, 225,250, 0.25);
  border-radius: 4px;
  padding: 20px;
  *:last-child{
    margin-bottom: 0px;
  }
  // .recent-post__item
  &__title {
    display: inline-block;
    color: inherit;
    font-size: 26px;
    font-weight: 700;
    line-height: 38 / 26 * 100%;
    transition: color .3s ease 0s;
    margin-bottom: 17px;
    @media (min-width: $md2+px) {
      &:hover {
        color: $hoverColor;
      }
    }
    @media (max-width: $md3+px){
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
  // .recent-post__info
  &__info {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 26 / 18 * 100%;
    span{
      margin: 0px 10px;
    }
    @media (max-width: $md3+px){
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  // .recent-post__text
  &__text {
    margin-bottom: 15px;
  }
}
