.recent-posts {
  background: $sectionBlue;
  // .recent-posts__container
  &__container {
  }
  // .recent-posts__header
  &__header {
  }
  // .recent-posts__title
  &__title {
  }
  // .recent-posts__view-all
  &__view-all {
  }
  // .recent-posts__items
  &__items {
  }
  // .recent-posts__column
  &__column {
  }
  // .recent-posts__item
  &__item {
  }
  // .recent-posts__info
  &__info {
  }
  // .recent-posts__text
  &__text {
  }
}
.recent-post {
}
