.works {
  // .works__item

  &__item {
    border-bottom: $line;
    padding-bottom: 30px;
    margin-top: 30px;
    @media (min-width: $md3+px){
      display: flex;
      align-items: flex-start;
    }
  }

  // .works__image

  &__image {
    flex: 0 0 246px;
    display: block;
    min-height: 180px;
    border-radius: 6px;
    min-height: 180px;
    overflow: hidden;
    @media (max-width: $md3+px){
      margin-bottom: 17px;
      padding-bottom: 60%;
    }
  }

  // .works__body

  &__body {
    flex: 1 1 auto;
    @media (min-width: $md3+px){
      padding-left: 18px;
    }
  }
  // .works__title
  &__title {
    display: block;
    color: inherit;
    font-size: 30px;
    line-height: 44 / 30 * 100%;
    font-weight: 700;
    margin-bottom: 15px;
    @media (max-width: $md3+px){
      font-size: 24px;
    }
  }
  // .works__info
  &__info {
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
  }

  // .works__year

  &__year {
    height: 25px;
    padding: 0px 10px;
    border-radius: 16px;
    background-color: $yearBackground;
    justify-content: center;
    align-items: center;
    color: $white;
    font-weight: 900;
    font-size: 18px;
    display: inline-flex;
  }

  // .works__category

  &__category {
    color: $grayColor;
    font-size: 20px;
    margin-left: 25px;
  }

  // .works__text

  &__text {
  }
}