@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

@font-face {
  font-family: 'AkzidenzGroteskBQCondensedBold';
  src: url("../fonts/Akzidenz-Grotesk BQCondensedBold.eot");
  src: local("☺"), url("../fonts/Akzidenz-Grotesk BQCondensedBold.woff") format("woff"), url("../fonts/Akzidenz-Grotesk BQCondensedBold.ttf") format("truetype"), url("../fonts/Akzidenz-Grotesk BQCondensedBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue Regular.eot");
  src: local("☺"), url("../fonts/BebasNeue Regular.woff") format("woff"), url("../fonts/BebasNeue Regular.ttf") format("truetype"), url("../fonts/BebasNeue Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "PT Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "PT Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}

header {
  padding: 29px 0px 33px 0px;
  background-color: #fff;
}

.private {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #000;
  margin: 0px 0px 75px 0px;
}

.private__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.private__image {
  height: 100%;
}

.private-body {
  padding: 75px 0px 75px 60px;
}

.private-body-content {
  max-width: 305px;
}

.private-body__title {
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'AkzidenzGroteskBQCondensedBold';
  letter-spacing: 5px;
  margin: 0px 0px 30px 0px;
}

.private-body__text {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin: 0px 0px 50px 0px;
}

.private-body-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.private-body-buttons__link {
  font-family: 'Bebas';
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  text-decoration: underline;
  margin: 0px 0px 0px 15px;
  letter-spacing: 1.5px;
}

.products {
  margin: 0px 0px 40px 0px;
}

.products-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.products__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 0px 0px 40px 0px;
}

.products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.products-item__image {
  display: block;
  padding: 0px 0px 100% 0px;
  margin: 0px 0px 25px 0px;
}

.products-item__title {
  padding: 0px 10px 0px 0px;
  height: 50px;
  overflow: hidden;
  max-width: 185px;
  display: block;
  font-size: 25px;
  font-family: 'AkzidenzGroteskBQCondensedBold';
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000;
  margin: 0px 0px 30px 0px;
}

.products-item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 10px 0px 0px;
  font-size: 15px;
  line-height: 25px;
  margin: 0px 0px 25px 0px;
  max-width: 185px;
}

.products-item__btn {
  margin: 0px 0px 29px 0px;
  max-width: 155px;
  text-align: center;
}

.products-item__link {
  font-family: 'Bebas';
  text-transform: uppercase;
  color: #000;
  text-decoration: underline;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.why-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #000;
}

.why-top__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.why-top__text {
  font-family: 'AkzidenzGroteskBQCondensedBold';
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  padding: 50px 60px 50px 0px;
  text-align: right;
}

.why-top__image {
  height: 100%;
}

.why-body {
  background-color: #ebebeb;
  padding: 50px 0 0 0;
}

.why-body-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-body__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 0 50px 0;
}

.why-body-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.why-body__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

.why-body-item-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0px 0px 0px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-body-item-body__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 25px;
  font-family: 'AkzidenzGroteskBQCondensedBold';
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.why-body-item-body__text {
  font-size: 15px;
  line-height: 25px;
  padding: 0px 15px 0px 0px;
}

.contacts {
  padding: 80px 0px 0px 0px;
}

.contacts__title {
  font-family: 'AkzidenzGroteskBQCondensedBold';
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.contacts-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-body__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 20px;
}

.contacts-body__item {
  font-size: 15px;
  color: #000;
  padding-left: 35px;
  line-height: 27px;
  display: inline-block;
}

.contacts-body__item--1 {
  background: url("../img/contacts/01.png") left no-repeat;
}

.contacts-body__item--2 {
  background: url("../img/contacts/02.png") left no-repeat;
}

.contacts-body__item--3 {
  background: url("../img/contacts/03.png") left no-repeat;
}

.contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.contacts-social__item {
  margin-right: 30px;
}

.contacts-social__item:last-child {
  margin-right: 0;
}

.contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #000;
}

.contacts-content__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.contacts-content__map {
  height: 100%;
}

.conacts-content-form {
  padding: 55px 60px;
}

.conacts-content-form__title {
  font-size: 25px;
  font-family: 'AkzidenzGroteskBQCondensedBold';
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 30px;
  color: #fff;
}

.conacts-content-form__body {
  max-width: 375px;
}

.contacts-content-form-line {
  margin-bottom: 25px;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.btn {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0px 33px;
  font-size: 15px;
  font-family: 'Bebas';
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #000;
  color: #fff;
}

.btn--w {
  background-color: #fff;
  color: #000;
}

.btn.hw {
  width: 100%;
}

.select-block {
  position: relative;
}

.selsect__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0px 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 2;
}

.select {
  position: relative;
  cursor: pointer;
}

.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #fff;
}

.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 45px;
  height: 100%;
  background: url("../img/icons/select-arrow.svg") center no-repeat;
}

.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0px 45px 0px 25px;
  white-space: nowrap;
  text-transform: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px 20px 10% 25px;
}

.select .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}

.select .select-options-list {
  padding: 0px 0px 0px 0px;
}

.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}

.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}

.select .select-options__value:hover {
  color: #000;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 18px;
  border: 2px solid #959595;
  height: 50px;
  background-color: #252525;
  color: #959595;
  font-size: 15px;
}

.input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input:focus::-moz-placeholder {
  color: transparent;
}

.input:focus:-ms-input-placeholder {
  color: transparent;
}

.input:focus::-ms-input-placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: transparent;
}

textarea.input {
  resize: none;
  padding: 10px 18px;
  height: 100px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

@media (max-width: 892px) {
  .why-top__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .why-top__column:last-child {
    display: none;
  }

  .why-top__text {
    padding: 30px 0px;
    font-size: 40px;
    text-align: center;
  }

  .why-body__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .why-body__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    height: 80px;
    padding: 15px;
  }

  .why-body__icon img {
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  .container {
    max-width: 750px;
  }

  .container {
    max-width: none;
    padding: 0 10px;
  }

  header {
    padding: 5px 0px 5px 0px;
  }

  .private {
    margin: 0px 0px 40px 0px;
  }

  .private__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .private__column:first-child {
    display: none;
  }

  .private-body {
    padding: 30px 20px 30px 30px;
  }

  .private-body__title {
    font-size: 35px;
    margin: 0px 0px 20px 0px;
  }

  .private-body__text {
    margin: 0px 0px 30px 0px;
  }

  .products {
    margin: 0;
  }

  .products-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .products__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .why-top__text {
    padding: 20px 0px;
    font-size: 30px;
    text-align: center;
  }

  .contacts {
    padding-top: 30px;
  }

  .contacts-body__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .contacts-content {
    display: block;
  }

  .contacts-content__map {
    height: 300px;
  }

  .conacts-content-form {
    padding: 30px;
  }

  .conacts-content-form__body {
    max-width: none;
  }
}

@media (max-width: 479.98px) {
  .why-body {
    padding: 30px 0px 0px 0px;
  }

  .why-body__column {
    margin: 0 0 30px 0;
  }

  .why-body-item-body__title {
    font-size: 20px;
  }
}

@media (max-width: 380px) {
  .products__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .products-item__image {
    margin: 0px 0px 15px 0px;
  }

  .products-item__title {
    max-width: none;
    height: auto;
    overflow: visible;
  }

  .products-item__title {
    margin: 0px 0px 20px 0px;
  }

  .products-item__text {
    max-width: none;
    margin: 0px 0px 15px 0px;
  }
}

@media (min-width: 767.98px) and (max-width: 900px) {
  .container {
    max-width: 750px;
  }
}