.footer {
  text-align: center;
  padding: 50px 0px;
  // .footer__content

  &__content {
  }

  // .footer__social

  &__social {
    margin-bottom: 26px;
  }

  // .footer__copy

  &__copy {
  }
}

//=============================================================================================

//=============================================================================================