.footer {
  text-align: center;
  padding: 50px 0px;
  // .footer__content
  @media (max-width: $md3+px) {
    padding: 30px 0px;
  }

  &__content {
  }

  // .footer__social

  &__social {
    margin-bottom: 26px;
  }

  // .footer__copy

  &__copy {
  }
}

//=============================================================================================

//=============================================================================================