// <Form (a.f+tab)>======================================================================
.form{}
.form-row{@include flexbox(); margin: 0px -15px;}
.form__column{padding: 0px 15px;}
.form-input{}
.form-button{}
// </form>======================================================================

// <button (a.btn+tab)>======================================================================
.btn{
    display: inline-flex;
    padding: 0px 20px;
    background-color: $hoverColor;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    height: 47px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 29 / 20 * 100%;
    color: $white;
    transition: all 0.3s ease 0s;
    @media (min-width: 992px) {
        &:hover{
            background-color: darken($hoverColor, 10%)
        }
    }
}
// </button>======================================================================
.select-block{position: relative;}
.selsect__label{z-index: 2;position: absolute;top: -8px;background-color:#f7f7f7;padding: 0px 5px;color:#979797; font-weight: 600; font-size: 13px; line-height: 2;}
.select{position: relative; cursor: pointer;
    .select-title{z-index: 1; width: 100%;
        height: 55px;
        border: 1px solid #dedede;
        position: relative;
        background-color: #fff;
    }
    .select-title__arrow{position: absolute;top: 0;
        right: 0px;
        width: 45px;
        height: 100%;
        background: url('../img/icons/select-arrow.svg') center no-repeat;
    }
    .select-title__value{
        color: #000;
        font-weight: 700;
        font-size: 18px;
        line-height: 53px;
        display: block;
        overflow: hidden;
        padding: 0px 45px 0px 25px;
        white-space: nowrap;
        text-transform: none;
        text-overflow: ellipsis;
    }
    .select-options{
        position: absolute;
        z-index: 10;
        top: 54px;
        display: none;
        overflow: hidden;
        min-width: 100%;
        background-color: #fff;
        border: 1px solid #dedede;
        padding: 10px 20px 10% 25px;
    }
    .select-options-scroll{max-height: 80px;overflow: auto;}
    .select-options-list{padding: 0px 0px 0px 0px;}
    .select-options__value{color: #000;
        font-size: 20px;
        margin: 0px 0px 15px 0px;
        &:last-child{margin: 0px 0px 0px 0px;}
        &:hover{color:#000}
    }
}
// <select>

// <input>
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance: none; -moz-appearance: none;appearance: none;}
.input{
    border-radius: 0 !important;
    width: 100%;
    display: block;
    padding: 0px 18px;
    border: 2px solid #959595;
    height: 50px;
    background-color: #252525;
    color: #959595;
    font-size: 15px;
    &.focus{}
    &.err{}
    &:focus::placeholder {
        color: transparent;
    }
}
textarea.input{
    resize: none;
    padding: 10px 18px;
    height: 100px;
}
// </input>