// =================================================================================================
.header {
  position: relative;
  z-index: 100;
  &__content {
    max-width: 1052px;
    padding: 0px 10px;
    margin: 0 auto;
  }

  &__menu {
    height: 82px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    @media (max-width: $md3+px) {
      height: 50px;
    }
  }
}

.menu {
  &__body {
    @media (max-width: $md3+px) {
      transform: translate(0px, -100%);
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      padding: 70px 10px 30px 10px;
      transition: transform .8s ease-in-out 0s;
      background-color: rgba($white, 0.95);
      &.active {
        transform: translate(0px, 0%);
      }
    }
  }

  &__list {  
    li{
      margin: 0px 0px 20px 0px;
      &:last-child {
        margin: 0px;
      }
    } 
    @media (min-width: $md3+px) {
      display: flex;
      li{
        margin: 0px 33px 0px 0px;
      }
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 500;
    color: $fontColor;
    transition: color .3s ease 0s;
    &.active{
      color: $hoverColor;
    }
    @media (min-width: $md2+px) {
      &:hover{
        color: $hoverColor;
      }
    }
    @media (max-width: $md3+px) {
      font-size: 40px;
      text-align: center;
      display: block;
    }
  }
}

.icon-menu {
  display: none;
  @media (max-width: $md3+px) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;

    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;

      &:first-child {
        top: 0px;
      }

      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }

    &.active {
      span {
        transform: scale(0);
        &:first-child{
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}

// =================================================================================================
// .icon-menu {
//   display: none;
//   @media (max-width: $md3+px) {
//     display: block;
//     position: absolute;
//     top: 18px;
//     right: 10px;
//     width: 30px;
//     height: 18px;
//     cursor: pointer;
//     z-index: 5;

//     span {
//       transition: all 0.3s ease 0s;
//       top: calc(50% - 1px);
//       left: 0px;
//       position: absolute;
//       width: 100%;
//       height: 2px;
//       background-color: #000;

//       &:first-child {
//         top: 0px;
//       }

//       &:last-child {
//         top: auto;
//         bottom: 0px;
//       }
//     }

//     &.active {
//       span {
//         transform: scale(0);
//         &:first-child{
//           transform: rotate(-45deg);
//           top: calc(50% - 1px);
//         }
//         &:last-child {
//           transform: rotate(45deg);
//           bottom: calc(50% - 1px);
//         }
//       }
//     }
//   }
// }