// =================================================================================================
header{
    padding: 29px 0px 33px 0px;
    background-color: #fff;
    @media (max-width: $md2+px) {
        padding: 5px 0px 5px 0px;
    }
}
// =================================================================================================
