.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ibg img{
    display: none;
}

// Other elements
.title {
    font-size: 44px;
    font-weight: 700;
    line-height: 60 / 44 * 100%;
    @media (max-width: $md3+px) {
        font-size: 32px;
    }
}

.title-posts{
    font-size: 22px;
    @media (max-width: $md3+px) {
        text-align: center;
        font-size: 18px;
    }
}

.text {
    font-size: 16px;
    line-height: 23 / 16 * 100%;
}