// Variables
$fontColor: #000;
$hoverColor: #ff6464;
$white: #fff;
$sectionBlue: #edf7fa;
$textColorBlue: #00a8cc;
$yearBackground: #142850;
$grayColor: #8695a4;
$lineColor: #E0E0E0;

$line: 1px solid $lineColor;